[user]
	email = K.Sakurai_2000@outlook.com
	name = Sakurai
[color]
	ui = true
[core]
	autocrlf = false
	editor = vim
	quotepath = false # 日本語ファイルの文字化け防止
	ignorecase = false # ファイルの大文字小文字を区別する
	pager = delta
[push]
	default = current
[pull]
	ff = only
[merge]
	ff = false
[credential]
	helper = cache
[alias]
    sw = switch
    br = branch
    pl = pull
	st = status -sb
	df = diff --color-words -w
	tree = log --graph --oneline
	l = log --date=format:'%Y/%m/%d %H:%M:%S' --pretty=format:'%C(green)%h %C(reset)%cd %C(blue)%cn %C(red)%d %C(reset)%s'
	branch-clean = !git branch --merged | egrep -v '\\*|master|main' | xargs git branch -d ; git fetch --prune
    alias = !git config --get-regexp 'alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort

[delta]
    line-numbers = true
	side-by-side = true
	diff-so-fancy=true
